* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: black;
    overflow:auto;
    color: white;
  }

  .logo{
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    margin: auto;
  }

  .logo img{
    width: 100%;
    height: 100%;
    background: none;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
  }

  .title{
    font-family: intrepid;
    font-size: 3vw;
    width: 50%;
    text-align: center;
    margin: auto;
  }



  .info_details_book{
      width: fit-content;
      margin: auto;
  }

  .info_name{
      font-size: 4.5vw;
      font-family: Baskvill;
      margin: auto;
      width: 50%;
      text-align: center;
      margin-top: 3vw;
      margin-bottom: 3vw;
  }

  .info_pictiure
  {
      width: 60%;
      margin: auto;
  }

  .info_pictiure img{
      width: 100%;
      height: 100%;
  }

  .info_title{
      font-size: 3vw;
      font-family: Baskvill;
      margin: auto;
      width: 70%;
      text-align: center;
      margin-top: 3vw;
  }
  .info_description{
    font-size: 1.5vw;
    font-family: intrepid;
    margin: auto;
    width: 60%;
    text-align: center;
    margin-top: 2vw;
  }
  .info_details{
      width: fit-content;
      margin: auto;
      margin-top: 3vw;
     
      
  }
  .all_details{
      display: grid;
      grid-template-columns: 1fr;
      width: 60vw;
    
    
    
  }

  .all_details h2{
    font-family: Intrepid;
    font-size: 2vw;
    margin-top: 2vw;
  }
  .detail{
      font-family: intrepid;
      font-size: 1.2vw;
      border: none;
      border-bottom: 1px solid #c9c9c8;
      padding-bottom: 0.5vw;
      margin: 1vw;

      
      height: 3.5vw;
  }

  .book_now_container{
      width: 100%;
      border:  1px solid #c9c9c8;
      padding: 2vw;
      margin-top: 5vw;
      
  }
  
  .book_price {
      text-align: center;
      font-family: intrepid;
      font-size: 1.5vw;
  }

  .book_btn{
      border: 1px solid white;
      width: 80%;
      margin: auto;
      text-align: center;
      font-size: 1.2vw;
      font-family: intrepid;
      padding: 0.5vw 3vw;
      cursor: pointer;
      transition: 1s;
      margin-top: 1vw;
      overflow: hidden;
  }
  .book_btn:hover{
    padding-left: 4.5vw;
  }

  